<% @user ||= current_user %>
<strong>Following</strong> <a href="<%= following_user_path(@user) %>"><%= @user.following.count %></a><br />
<strong>Followers</strong> <a href="<%= followers_user_path(@user) %>"><%= @user.followers.count %></a><br />