<table class="channel" summary="Posts of users You fallow">
  <tr>
    <td class="main">
        <h1 class="post">Your channel.</h1>
        <%= render 'shared/feed' %>
    </td>
  </tr>
</table>