<tr>
  <td class="post">
    <span class="title"><%= link_to post.title, post %></span></br>
    <span class="content"><%= post.content %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(post.created_at) %> ago.
    </span>
  </td>
  <% if current_user?(post.user) %>
  <td class="post">
    <%= link_to "x", post, :method => :delete,
                                     :confirm => "You sure?",
                                     :title => post.content,
:class => "delete" %>
  </td>
  <% end %>
</tr>